# Quetion:- 1

### These tuples are an ordered collection of elements of different data types. Furthermore, we represent them by writing the elements inside the parenthesis separated by commas. We can also define tuples as lists that we cannot change. 
### Therefore, we can call them immutable tuples.

# Quetion:- 2

### There are only two tuple methods count() and index() that a tuple object can call.

#### Examples

In [14]:
Tuple=(1,2,3,'a',"hello",'a','a',2,4)

#count
print(f"In Tuple 'a' exist {Tuple.count('a')} times.")
print(f"In Tuple '2' exist {Tuple.count(2)} times.")

print("\n")


#index
print(f"In tuple 'a' is in {(Tuple.index('a'))+1} position with index nomber {Tuple.index('a')}.")
print(f"In tuple 'hello' is in {(Tuple.index('hello'))+1} position with index nomber {Tuple.index('hello')}.")

In Tuple 'a' exist 3 times.
In Tuple '2' exist 2 times.


In tuple 'a' is in 4 position with index nomber 3.
In tuple 'hello' is in 5 position with index nomber 4.

### tuples are immutable therefore other function can not perform on it .

# Quetion:-3

### Sets are a collection that is unordered and unindexed. They are mutable (changeable) but do not allow duplicate values to be held.

In [17]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4] 
s=set(List)
print(s)

{1, 2, 3, 4}

# Quetion:-4

### update() adds all missing elements to the set on which it is called whereas set. 
### union() creates a new set

#### Exaple

In [25]:
s1={1,2,3,"krisha",'a',2+3j}
s1.union('b')
print(s1)

{1, 2, 3, 'krisha', 'a', (2+3j)}

In [26]:
s1.update('b','c')
print(s1)

{1, 2, 3, 'krisha', 'b', 'a', (2+3j), 'c'}

# Quetion:-5

### Dictionaries are used to store data values in key:value pairs.

#### Example

In [28]:
capital_city = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

#### Dictionary is an unordered collection

# Quetion:-6

#### In Python, a Nested dictionary can be created

#### Exaple:

In [31]:
D = dict(emp1 = {'name': 'Bob', 'job': 'Mgr'},
         emp2 = {'name': 'Kim', 'job': 'Dev'},
         emp3 = {'name': 'Sam', 'job': 'Dev'})

# Quetion:-7

In [50]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
print(dict1,"\n")
dict1.setdefault("topics",["Python","Machine Learning","Deep Learning"]) 
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters'}

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

# Quetion:-8

### The main view objects of dictionary in python are keys, values and items

In [ ]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']} 
print("Keys : ","\n")
print(dict1.keys())
print("values : ","\n")
print(dict1.values())
print("items : ","\n")
print(dict1.items())